<form action="">

  <fieldset>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="johndoe@mail.com"><br><br>
    <label for="phone">Phone :</label><br>
    <input type="tel" id="phone" name="phone"><br><br>
    <label for="language">Your favourite languages : </label>
    <select name="language" id="language">
      <option value="html">Html</option>
      <option value="css">CSS</option>
      <option value="js">JS</option>
      <option value="php">PHP</option>
      <option value="c">C#</option>
      <option value="python">Python</option>
    </select><br><br>
    <input type="submit" value="Submit">
  </fieldset>

</form>
