{{ friendModel | json }}

<div class="container">

  <form  #friendForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <fieldset>

      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" [(ngModel)]="friendModel.firstName" value="John" #fname="ngModel"
             pattern="[a-zA-ZÀ-ÿ ]*" required><br>

      <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
           class="alert alert-danger">

        <div *ngIf="fname.errors?.required">
          First name is required.
        </div>
        <div *ngIf="fname.errors?.pattern">
          First name must be letters.
        </div>
      </div>

      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" [(ngModel)]="friendModel.lastName" value="Doe" #lname="ngModel"
             pattern="[a-zA-ZÀ-ÿ ]*" required><br><br>

      <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
           class="alert alert-danger">

        <div *ngIf="lname.errors?.required">
          Last name is required.
        </div>
        <div *ngIf="lname.errors?.pattern">
          Last name must be letters.
        </div>
      </div>

      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" [(ngModel)]="friendModel.email" value="johndoe@mail.com"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
             #email="ngModel" required><br><br>

      <div *ngIf="email.invalid && (email.dirty ||email.touched)"
           class="alert alert-danger">

        <div *ngIf="email.errors?.required">
          Email is required.
        </div>
        <div *ngIf="email.errors?.pattern">
          Please enter a valid email.
        </div>
      </div>

      <label for="phone">Phone :</label><br>
      <input type="tel" id="phone" name="phone" [(ngModel)]="friendModel.phoneNumber" #phone="ngModel"
             pattern="^(?:0|\(?\+32\)?\s?|0032\s?)[1-79](?:[\.\-\s]?\d\d){4}$" required><br><br>

      <div *ngIf="phone.invalid && (phone.dirty ||phone.touched)"
           class="alert alert-danger">

        <div *ngIf="phone.errors?.required">
          Phone number is required.
        </div>
        <div *ngIf="phone.errors?.pattern">
          Please enter a valid phone number.
        </div>
      </div>

      <label for="language">Your favourite languages : </label>
      <select name="language" id="language" [(ngModel)]="friendModel.favouriteLanguage" #language="ngModel" required
              [class.alert-danger]="language.invalid && language.touched">>
        <option *ngFor="let language of languages" value="{{ language.name }}">{{ language.name }}</option>
      </select><br><br>
      <input type="submit" [disabled]="friendForm.form.invalid" class="btn btn-primary" value="Submit">
    </fieldset>
  </form>
</div>
